head{
    background:radial-gradient(#238dbb, #114476);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background:radial-gradient(#238dbb, #114476);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fffff0;
}

h1{
    color: #fffff0;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-align: center;
    border-style: solid;
    border-color: #fffff0;
}

h2{
    color: #fffff0;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-align: center;
    border-top: #fffff0;
    border-bottom: #fffff0;
    border-left: #d3d3d3;
    border-right: #2d3436;
    border-style: solid;
}

h4{
    color: #fffff0;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125%;
    text-align: center;
    border-style: solid;
    border-color: #fffff0;
}

img{
    width: auto;
    margin: auto;
    display: block;
    border-style: solid;
    border-color: #fffff0;
    
}

menu {
    color: #fffff0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 130%;
    text-align: center;
    border-color: #fffff0; 
    
}

main{
    color: #fffff0;
    background-color: #122129;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    border-style: solid;
    border-color: #fffff0;   
}

a{
    color: #fffff0;
}

hr{
    color: #fffff0;
    border: #fffff0;
    border-style: solid;
}

#p_menu{
    color: #fffff0;
    background-color: #122129;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125%;
    text-align: center;
    border-style: solid;
    border-color: #fffff0; 
}

